<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nrbzms17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.OrderListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.activity.OrderDetailActivity" />
        <activity android:name=".ui.activity.PurchaseListActivity" />
        <activity android:name=".ui.activity.PurchaseDetailActivity" />
        <activity android:name=".ui.activity.CheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.activity.InspectListActivity" />
        <activity android:name=".ui.activity.InspectDetailActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name="com.example.codescan.zxing.activity.CaptureActivity" />
        <activity android:name="com.example.codescan.zxing.activity.ResultActivity" />
        <activity android:name=".ui.activity.UpdateActivity" />
        <activity android:name=".ui.activity.TransferActivity" />
        <activity android:name=".ui.activity.EchartsActivity"></activity>
    </application>

</manifest>